@import 'variables';

body {
  min-height: 100vh;
  transition: color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  background: $color-background;
  margin: 0;
  font-family: Inter, WorkSans, Roboto Mono, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}