/* COLORS */
@import 'src/utils/colors';

/* FONTS */
$family-inter: Inter, -apple-system, BlinkMacSystemFont,  sans-serif;
$family-worksans: Work Sans, -apple-system, BlinkMacSystemFont, sans-serif;
$family-roboto: Roboto Mono, -apple-system, BlinkMacSystemFont, monospace;

/* SYSTEM */

/* Z-INDEX */
$z-index-header                     : 1000;
$z-index-button-sticky              : 1500;
$z-index-drawer                     : 2000;
$z-index-popup                      : 3000;

/* SIZES*/
$header-height                      : 64px;
$header-height-desktop              : 74px;
$header-button-size                 : 40px;

//$drawer-width-tablet              : 214px;
$drawer-width                       : 314px;

$side-gutter                        : 20px;
$content-top-padding                : 48px;
$content-side-padding               : 16px;
$content-bottom-padding             : 48px;

$half-oval-height                   : 42px;

/* TRANSITIONS */
$slide-swipe-time                   : .3s;

/* MEDIA SIZES */
// TODO : another breakpoint?
$media-popup                        : 768px;
$media-tablet                       : 768px;
$media-desktop                      : 1000px;
$media-bottom-sheet-tablet          : 440px;

/* END SYSTEM */
